{% extends 'base.html' %}
{% block body %}

  {% if user.is_authenticated %}
    <div class="text-center">
        
        <div class="card">
            
            <div class="card-body">
              
                <h4 class="card-title">Employee Info Added By : <strong>{{object.author}}</strong></h4>
                <p class="card-text">
                  <h3>First Name : <strong>{{object.first_name}}</strong></h3>
                  <h4>Last Name : <strong>{{object.last_name}}</strong></h4>
                  <h4>City : <strong>{{object.city}}</strong></h4>
                  <h5>Emp ID : <strong>{{object.employee_id}}</strong></h5>
                  <strong><a href="{{ object.media_file.url }}/" download="{{ object.media_file.url }}">{{object.media_file}}</a></strong>
                </p>
				<a href="{% url 'update' object.id %}"><button type="submit" class="btn btn-info">Edit</button></a>
				<a href="{% url 'delete' object.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
              
            </div>
          </div>
		  
    </div>
    {% else %}
    <div class="text-center">
      <div class="card">
        <h1>Login Required</h1>
      </div>
    
    </div>
  {% endif %}
{% endblock %}