<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/try.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="../static/js/jquery-3.5.1.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
    
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-home"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'index' %}">My Employees</a>
                            <a class="dropdown-item" href="{% url 'create' %}">Add Post</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Authentication System</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'nlp' %}">NLP Model</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'oxford' %}">Oxford</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="{% url 'blog' %}">REST API</a>
                    </li>
            
                    {% endif %}
            
                </ul>
            
            </div>
            </nav>
        <div class="one">
            <p>How to create a Web Design Portfolio with no job experience.</p>
        </div>
        <div class="two">
            <div class="three">
                <img src="../static/images/images_2.jpg" alt="girl in black shirt">
                <p>Ritik Pratap</p>
                <h5>Full Stack Developer</h5>
                <h6>( django,mongodb,html,css )</h6>
                
                <input class="button" type="button" value="Portfolio">
            </div>
            <div class="four">
                <img src="../static/images/images.jpg" alt="cats">
                <h3>About me</h3>
                <p>Passionate about implementing and launching new projects. Ability to translate business requirements into technical solutions. Looking to start the career as an entry-level software engineer with a reputed firm driven by technology.</p>
                <hr class="line"></hr>
                
            </div>
        </div>
    </body>

</html>