{% extends 'base.html' %}

{% block body %}

        <div class="card" style="text-align: center; box-shadow: 5px 8px 10px 10px rgb(241, 233, 233); height: 40%; width: 35%; margin: 7% 33%;">
            <div class="card-body">
              <h4 class="card-titles" style="font-size: 50px;">System Login</h4>
              <p class="card-text">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-primary" value="Log In">
                </form>
              </p>          
              <div>
                <strong>New user ? <a href="/register">Sign Up</a></strong>
              </div>
            </div>
        </div>
{% endblock %}